/* Estilos do Login e do Dashboard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ADD8E6; /* Azul Claro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container, .dashboard-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2, h1 {
    color: #333;
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #7d97b8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #738dbe;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

/* Estilos Específicos do Dashboard */
.dashboard-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    padding: 40px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}
